name: Deploy on push

run-name: >
  Build Java Lib —
  ${{ github.head_ref || github.ref_name }}) —
  [${{ github.event_name == 'push' && format('{0}', github.event.head_commit.message) || '' }}]

on:
  push:
    branches:
      - main
      - feat/monorepo-workflows

jobs:
  deploy-on-push:
    name: Maven build and deploy
    uses: Netcracker/qubership-core-infra/.github/workflows/generic-maven-build.yaml@feat/monorepo-workflows
    with:
      maven-command: 'deploy'
      upload-artifact: true
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY }}
